.techs {
  height: 425px;
  background-color: rgba(245, 245, 245, 1);
  padding: 100px 70px;
  transition: .2s ease;
}

.techs__title {
  margin: 0 0 90px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  transition: .2s ease;
}

.techs__count {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 26px;
  transition: .2s ease;
}

.techs__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 auto 100px;
  width: 460px;
  transition: .2s ease;
}

.techs__items {
  max-width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  transition: .2s ease;
}

.techs__item {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.04em;
  text-align: center;
  transition: .2s ease;
}

@media screen and (max-width: 768px) {
  .techs {
    height: 387px;
    padding: 90px 50px;
  }

  .techs__title {
    margin: 0 0 80px;
  }

  .techs__count {
    margin-bottom: 22px;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .techs__items {
    max-width: 648px;
  }

  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 57px;    
  }
}

@media screen and (max-width: 700px) {
  .techs {
    height: auto;
  }

  .techs__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }

  .techs__item {
    margin: 0 auto;
  }
}

@media screen and (max-width: 570px) {
  .techs__count {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .techs__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
    width: auto;
  }
}

@media screen and (max-width: 465px) {
  .techs__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 360px) {
  .techs {
    height: 511px;
    padding: 70px 18px;
  }

  .techs__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .techs__items {
    width: 178px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }
}